$bg: #222;
$bg_1: #171e13;
$bg_2: #424b35;
$bg_3: #561d18;
$bg_4: #b47c4b;
$bg_4_bright: #dd9b61;
$bg_5: #a83b24;
$text: #eee;

* {
  box-sizing: border-box;
}

body {
  background-color: $bg;
  color: $text;
  font-family: 'Lato', sans-serif;
}

button {
  position: relative;
  border: none;
  background: none;
  background-color: $bg;
  font: inherit;
  color: inherit;
  padding: 0.2rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
  box-shadow: 0 0 0 1px $bg_5;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 900;
  letter-spacing: 0.1em;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    display: block;
    background-color: $bg_5;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    z-index: -1;
    transition: 0.3s;
  }

  &:hover:before {
    width: 100%;
  }

  &:focus {
    outline: none;
  }
}

input {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  max-width: none;
  width: 100%;

  &:focus {
    outline: none;
  }
}

label {
  display: flex;
  align-items: center;

  .input-label-text {
    text-transform: uppercase;
    font-size: 0.5em;
    letter-spacing: 0.1em;
    margin-top: 0.2em;
    min-width: 9em;
    margin-right: 1em;
  }

  input {
    border-bottom: 1px solid $bg_5;
  }
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 3em;

  @import 'item';
}

.controls {
  border-bottom: 1px solid $bg_5;

  button {
    padding: 0.5em 1.5em;
  }
}

.item-creator {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0005;
  backdrop-filter: blur(5px);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;

  .item-creator-content {
    position: relative;

    .close {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
    }
  }
}
