$bg: #222;
$bg_1: #171e13;
$bg_2: #424b35;
$bg_3: #561d18;
$bg_4: #b47c4b;
$bg_4_bright: #dd9b61;
$bg_5: #a83b24;
$text: #eee;
$warning: #f55;

@keyframes spin {
  0% {
    stroke-width: 15;
    stroke-dasharray: 0 41.8879 0 0;
    stroke-dashoffset: 41.8879;
  }
  25% {
    stroke-width: 5;
    stroke-dasharray: 0 20 10 11.8879;
  }
  100% {
    stroke-width: 15;
    stroke-dasharray: 0 0 0 41.8879;
    stroke-dashoffset: 0;
  }
}

@keyframes spinSmall {
  0% {
    stroke-width: 25;
    stroke-dasharray: 10 73.7758;
    stroke-dashoffset: 83.7758;
  }
  25% {
    stroke-width: 10;
    stroke-dasharray: 60 23.7758;
  }
  100% {
    stroke-width: 25;
    stroke-dasharray: 10 73.7758;
    stroke-dashoffset: 2;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: $bg;
  color: $text;
  font-family: 'Lato', sans-serif;
}

button {
  position: relative;
  border: none;
  background: none;
  font: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 2em;
  margin: 0.25rem;
  padding: 0.2rem 0.5rem;
  background-color: $bg;
  font-size: 0.75em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: inherit;
  box-shadow: 0 0 0 1px $bg_5;
  z-index: 1;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    display: block;
    background-color: $bg_5;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    z-index: -1;
    transition: 0.3s;
  }

  &:hover:before {
    width: 100%;
  }

  &:focus {
    outline: none;
  }

  .button-loader {
    width: 0;
    height: 1.5em;
    margin: -0.2em 0 -0.2em 0;
    transition: 0.3s;

    circle {
      stroke: #fff;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: none;
      animation: spinSmall 1s infinite;
    }
  }

  &.loading {
    .button-loader {
      width: 1.5em;
      margin-left: 0.75em;
    }
  }
}

input {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  max-width: none;
  width: 100%;

  &:focus {
    outline: none;
  }
}

label {
  display: flex;
  align-items: center;

  .input-label-text {
    text-transform: uppercase;
    font-size: 0.5em;
    letter-spacing: 0.1em;
    margin-top: 0.2em;
    min-width: 9em;
    margin-right: 1em;
  }

  input {
    border-bottom: 1px solid $bg_5;
  }
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 3em;

  @import 'item';
}

.controls {
  border-bottom: 1px solid $bg_5;

  button {
    padding: 0.5em 1.5em;
  }
}

@import 'item-editor';
