.item-unread-count {
  position: absolute;
  top: 50%;
  left: 0;
  margin: -0.75em 0;
  width: 100%;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
  line-height: 1.1;
  font-weight: 900;
  text-shadow: 0 0 1em #000, 0 0 0.2em #000;
  z-index: 2;
  opacity: 0;
  transition: 0.3s;

  .unread-count {
    font-size: 2em;
    margin-top: -0.25em;
    margin-right: 0.1em;
  }

  .unread-count-ready {
    margin-left: 0.1em;
  }

  .unread-count-read {
    font-size: 2em;
  }

  .unread-count-title {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 2em 0 0 -5em;
    width: 10em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-shadow: 0 0 1em #000, 0 0 0.2em #000;
  }

  .item-increments {
    position: absolute;
    bottom: 100%;
    right: 0;
    left: 0;
    margin-bottom: 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.3s;

    .item-increment,
    .item-increment-all {
      padding: 0.3em;
      font-size: 0.75em;
      letter-spacing: 0.1em;
      text-shadow: 0 0 1em #000, 0 0 0.2em #000;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: $bg_4_bright;
      }
    }
    .item-increment {
      top: 0;
    }
    .item-increment-all {
      top: 50%;
    }
  }

  &:hover {
    .item-increments {
      opacity: 1;
    }
  }
}

&:hover {
  .item-unread-count {
    opacity: 1;
  }
}
