.item-editor {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2em;
  background-color: #0009;
  backdrop-filter: blur(5px);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;

  .item-editor-content {
    position: relative;
    max-width: 100%;
    width: 35em;

    .top-buttons {
      position: absolute;
      top: 0.5em;
      right: 0.5em;

      .close {
        width: 2em;
      }
    }

    .item-editor-inputs {
      margin-bottom: 1em;

      .item-editor-input {
        margin-bottom: 0.25em;

        &:not(.editable) {
          color: #ccc;

          input {
            border-color: #555;
          }
        }
      }
    }
  }
}
