.item-content {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5em;
  background-color: $bg;
  z-index: 3;

  .item-prop {
    &.item-prop-default {
      opacity: 0.5;
    }
  }

  .item-custom-title {
    font-size: 1em;
    padding: 0.25em 0 0.5em 0;

    .item-prop {
      width: 100%;
      text-overflow: ellipsis;
    }
  }

  .item-line {
    width: 100%;

    .item-prop {
      flex-grow: 1;
      font-weight: 900;
    }

    .item-button-increment {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1em;
      width: 1em;
      height: 1em;
      margin-left: 0.5em;
    }
  }

  .item-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 0.5em;
  }
}
