$bg: #222;
$bg_1: #171e13;
$bg_2: #424b35;
$bg_3: #561d18;
$bg_4: #b47c4b;
$bg_4_bright: #dd9b61;
$bg_5: #a83b24;
$text: #eee;

body {
  background-color: $bg;
  color: $text;
  font-family: sans-serif;
}

button {
  position: relative;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  padding: 0.2rem 1rem;
  margin: 0.25rem;
  cursor: pointer;
  box-shadow: 2px 1px $bg_5;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 900;
  letter-spacing: 0.1em;

  &:after {
    content: '';
    position: absolute;
    display: block;
    background-color: $bg_5;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    z-index: -1;
    transition: 0.3s;
  }

  &:hover:after {
    width: 100%;
  }

  &:focus {
    outline: none;
  }
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 3em;

  .item {
    padding: 0.5em;
    width: 15em;
    box-shadow: 0 0 0 1px $bg_2 inset;

    &.item-unread {
      box-shadow: 0 0 0 1px $bg_4 inset;
    }

    .item-cover {
      padding-bottom: 0.5em;

      .item-cover-img {
        padding-bottom: 150%;
        background-color: $bg_3;
        background-position: center;
        background-size: cover;
        transition: 0.3s;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    .item-prop {
      border: none;
      background: none;
      padding: 0;
      margin: 0;
      color: inherit;
      font: inherit;
      display: inline-block;

      &.item-prop-default {
        opacity: 0.5;
      }

      &:focus {
        outline: none;
      }
    }

    .item-title {
      font-weight: 900;
      font-size: 1em;

      .item-prop {
        width: 100%;
        text-overflow: ellipsis;
      }
    }

    .item-line {
      display: flex;
      align-items: center;

      .item-line-text {
        text-transform: uppercase;
        font-size: 0.5em;
        font-weight: 900;
        letter-spacing: 0.1em;
      }

      .item-prop {
        margin-left: 0.5em;
        width: 5em;
      }
    }

    .item-button {
      display: inline-block;
    }
  }
}

.controls {
  border-top: 1px solid $bg_5;
}
